.math {
    float: left;
    width: 50%;
}

.explaination {
    float: right;
    width: 50%;
}

.math-def {
    display: none;
}

ul.explain {
    overflow: hidden;
    overflow-y: scroll;
}

ul.explain li {
    list-style-type: none;
    margin: 10px 0;
}

.highlight {
    background-color: cyan;
    font-weight: bold;
}
