body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none !important;
}

.math {
  float: left;
  width: 50%;
}

.code {
  width: 50%;
  margin: 0 auto;
}

.section {
  border: 2px dashed rgba(114, 186, 94, 0.35);
  background: rgba(114, 186, 94, 0.05);
  height: 100%;
}

.math-overflow {
  overflow-x: auto;
}

.explaination {
  float: right;
  width: 50%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.explaination::-webkit-scrollbar {
  display: none;
}

.content {
  clear: both;
}

.math-def {
  display: none;
}

ul.explain {
  overflow: hidden;
  text-align: left;
}

ul.explain li {
  list-style-type: none;
  margin: 10px 0;
  padding: 1px 0px;
}

.highlight {
  background-color: cyan;
  font-weight: bold;
}

.clear{
  clear:both;
}
