body {
    height: 100%;
}

.math {
    float: left;
    width: 50%;
}

.code {
    width: 50%;
    margin: 0 auto;
}

.section {
    overflow-x: auto;
}

.explaination {
    float: right;
    width: 50%;
}

.content {
    clear: both;
}

.math-def {
    display: none;
}

ul.explain {
    overflow: hidden;
    overflow-y: scroll;
}

ul.explain li {
    list-style-type: none;
    margin: 10px 0;
}

.highlight {
    background-color: cyan;
    font-weight: bold;
}
